body {
    font-size: large;
    font-family: Source Sans Pro, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 50px;
    border: 1px solid green;
    background-color: burlywood;
}

#result {
    display: none;
    color: green;
    font-size: xx-large;
    text-align: center;
}

#score {
    font-size: large;
    font-style: italic;
    color: brown;
    text-align: center;
}

footer {
    text-align: center;
    font-size: small;
    background-color: rgb(218, 195, 195);
}